.review {
  display: inline-block;
  padding: 0.8em;
  text-align: center;
  background-color: @white;
  .fa {
    background-color: fadeout(@black, 90);
    color: fadeout(@black, 60);
    padding: 0.5em;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
  }
}
