
.visit {
  display: flex;
  flex: 1;
}
.visit-photos {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.visit-photos-displays {
  display: flex;
}
.visit-photos-display {
  border-bottom: 1px solid fadeout(@black, 95);
  flex: 1;
  text-align: center;
  padding: 0.6em;
  color: fadeout(@black, 60);
  &.active {
    color: @blue;
  }
  .fa {
    font-size: 1.4em;
  }
}
.visit-photos-body {
  flex: 1;
  .scrollable();
}
.visit-video,
.visit-image {
  width: ~"calc(100% / 3)";
  display: flex;
  float: left;
  padding: 0.1em;
  img {
    width: 100%;
    height: 100px;
  }
}
.visit-video {
  position: relative;
  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    color: @white;
    font-size: 2em;
    transform: translate(-50%, -50%);
  }

}

.impression {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  flex: 1;
}
.impression-header {
  display: flex;
}
.impression-header-avatar {
  padding: 0.8em 0 0.8em 0.8em;
  .avatar {
    width: 2.8em;
    height: 2.8em;
  }
}
.impression-header-details {
  flex: 1;
  padding: 0.8em;
  strong {
    color: @black;
  }
  color: fadeout(@black, 40);
}
.impression-header-icon {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.2em;
    color: fadeout(@black, 60);
  }
}
.impression-asset {
  img {
    display: block;
    width: 100%;
  }
}
.impression-caption {
  padding: 0.8em;
  line-height: 1.6em;
}
